allow proc_touchpanel proc_touchpanel:file { getattr };
allow proc_touchpanel proc_touchpanel:dir { read  search };
allow proc_touchpanel proc_touchpanel:file { getattr  open  read  write };
